/* position relative for the circle thing 
3.16 position*/
/* 1.1428
1680 vs 1920 */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}

body {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    /* font-size: 14px; */
}
/* fonts
font-family: 'Poppins', sans-serif;
font-family: 'Playfair Display', serif;

*/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.wrapper {
    max-width: 1170px;
    position: relative;
}


/* -----------REPEATED ---------*/

h3 {
    color: #999999;
    text-transform: uppercase;
    font-size: 1rem;
}
/* ----------- NAVBAR --------- */

.navBar {
    width: 100%;
    /* height: 148px; */
    padding: 28px 0;
    font-size: 0.875rem;
}

.navBar li {
    display: inline-block;
}

.navBar a {
    text-decoration: none;
    color: #000;
}

.navBarLeft, .navBarRight {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.85rem;
}

.navBarLeft {
    width: 40%;
    float: left;
    margin-top: 45px;
}

.navBarLeft a {
    margin-right: 60px;
}

.navBarCenter {
    width: 25%;
    float: left;
    text-align: center;
    text-transform: capitalize;
}
.navBarRight {
    width: 35%;
    float: right;
    text-align: right;
}

.navBarRight li:nth-child(-n + 2) {margin-top: 45px}

.navBarRight a {
    margin-left: 35px;
}

.navBarRight a:last-child {
    margin-right: 5px;
}

.navBarRight li:nth-last-child(-n+2) {font-size: 1.25rem}

.header {
    
    background-image: url("assets/home-1.jpeg");
    /* position: relative; */
    /* background-repeat:no-repeat;
    background-position: center center; */
    
    padding: 25vw 0;
    background-size: cover;
    background-position: center;
    position: relative;
}
/* 
}
.mainHeader .wrapper {
    height: 80vh;
    /* or height: 100%} */




h1 {
    font-family: 'Playfair Display', serif;
    /* font-size: 10px; */
}

.navBarCenter h1 {
    font-size: 3.65rem;
}

/* ----------- ABOUT US --------  */

.aboutUs {
    background-color: #ededed;
    /* position: relative; */
} 

.aboutUsInner {
    /* position: absolute; */
    /* background-color: #fff; */
    /* margin: 18vh auto; */
    /* width: 70%; */
    margin: 100px auto;
    /* padding: 50px; */
    /* top: 0; */
    /* left: 0; */
    /* padding: 150px 0; */
    /* background-color: #99999975; */
    padding-bottom: 150px;
}

/* .aboutUsInnerContent {
    margin: 7vh 0;
    /* background: lightgrey; */
/* }  */

.aboutUsInnerTitle {
    margin: 80px 0;
}

.aboutUsInnerTitle h3 {
    text-align: center;
    
    letter-spacing: 0.6vw;
    font-weight: 600;
}

.aboutUsContent {
    position: relative;
}
.aboutUsImage {
    float: left;
    width: 50%;
    /* height: 400px; */
    /* background-image: url("assets/home-2.jpeg"); */
    /* background-size: cover; */
    /* background-position: center; */

   
    /* background-repeat: none; */
}

.aboutUsImage img {
    border: 15px solid white;
    margin-left: 22%;
    max-width: 400px;
}

.aboutUsResortStamp {
    position: absolute;
    bottom: 25px;
}

.aboutUsInfo {
    width: 50%;
    float: left;
    /* padding: 2%; */
}
.aboutUsInfoInner {
    padding: 2%
}

.aboutUsInfoInner h1 {
    font-size: 3rem;
    margin: 3% 5% 3% 0;
    /* line-height: 1.2; */
    letter-spacing: -1px;
}

.aboutUsInfoInner p{
    line-height: 30px;
    font-size: 0.875rem;
    padding: 4% 15% 2% 0;
    color: #999999;
}


/* ----------- DESTINATION INFO --------*/
.destinationInfo {
    /* height: 100px; */
    /* background: black */

}

.destinationContent{
    width: 60%;
    float: left;

    /* padding: 5%; */
}

.destinationPhoto {
    width: 40%;
    float: left;
    /* background-image: url("assets/home-3.jpeg"); */
    /* background-position: center; */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* position: relative; */
    /* height: 95vh; */
}

.destinationPhoto img {
    width: 100%;
    display: block;
}

.contentLeftColumn {
    width: 50%;
    float: left;
}

.contentLeftColumn div, .contentRightColumn div {
    position: relative;
    padding: 10% 6% 7% 17%;
}

.contentLeftColumn i, .contentRightColumn i {
    position: absolute;
    left: 0;
    font-size: 2.25rem;
    
}

.contentRightColumn {
    width: 50%;
    float: left;    
}

.destinationContent {
    /* padding-top: 7%;
    padding-left: 19.5%;
    padding-right: 4%; */
    padding: 9% 4% 0 15%;
}

.destinationContent h3 {
    color: #000;
    margin-bottom: 3%;
    /* font-size: 1.125rem; */
}

.destinationContent p {
    font-size: 0.813rem;
    line-height: 25px;
    color: #999999;
}

/* TESTIMONIAL & GALLERY */

.testimonialGallery {
    /* background-color: lightgrey; */
    text-align: center;
    position: relative;
    background: url("assets/pattern.png")
}

.testimonial{
    text-align: center;
    position: relative;
    /* padding: 75px; */
    /* margin-top: 100px; */
    
}

.testimonialInner{
    background-color: #fff;
    margin: 160px auto;
    padding: 6%;
}

.testimonialInner h1 {
    font-size: 3.75em;
    text-transform: capitalize;
    margin: 1.8% 0 6.8% 0;
}

.testimonialInner h3, .gallery h3 {
    /* margin: 10px 0; */
    letter-spacing: 0.5em;
}

.clientTestimonial {
    position: relative;
}

.clientTestimonial p {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 1.5rem;
    line-height: 1.5;
}

.quoteLeft, .quoteRight {
    position: absolute;
}
.quoteLeft {
    top: 0;
    left: 0;
}

.quoteRight {
    bottom: 0;
    right: 0;
}

.stars {
    margin: 3% 0;
}

.stars i {
    color: orange;
    font-size: 1.488em;
}

.leftArrow, .rightArrow {
    position: absolute;
    top: 45%;
    font-size: 3rem;
    color: grey;
}

/* .leftArrow, .rightArrow {
    color: grey;
} */

.leftArrow {
    left: 8.9%
}

.rightArrow {
    right: 8.9%;
}

/* 
.fa-chevron-left, .fa-chevron-right {
    top: 50%;
} */

/* .fa-chevron-left {
    top: 50%;
} */

/* .fa-chevron-right {

} */


/* .arrows i {
    top: 50%;
} */

/* .arrows i:first-child {
    top: 50%;
}

.arrow i:last-child {
    top: 50%;
} */

.gallery {
    text-align: center;  
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #fff;
}

.gallery li {
    list-style-type: none;
    display: inline-block;
    float: left;
    /* margin: 0px 20px; */
    margin: 10px;
    /* width: calc((100% / 3) - 40px); */
}

.gallery h3 {
    margin-top: 30px;
    font-size: 0.875rem;
}
.gallery h1 {
    text-transform: capitalize;
    font-size: 3.75rem;
    margin: 30px 0;
}

/* CONTACT  */

.contactImage {
    width: 55%;
    float: left;
    /* background-image: url("styles/assets/home-10.jpeg"); */
    /* background-size: cover;
    background-position: center;
    position: relative;
    height: 90vh; */
}

.contactImage img {
    width: 100%;
    display: block;
}

.contactInfo {
    width: 45%;
    float: left;
    padding: 6.5% 16% 3% 8%;
}

.contactHeader {

}
.contactHeader h3 {
    font-size: 0.875rem;
}

.contactHeader h1 {
    font-size: 3.75rem;
    margin-bottom: 110px;
}

.contactHeader h1:first-letter {
    text-transform: capitalize;
}

.contactHeader h3 {
    /* line-height: 3.429; */
    letter-spacing: 0.6em;
}

.address h1 {
    font-size: 1.875rem;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.address p {
    margin-bottom: 40px;
    text-transform: capitalize;
    color: #666666;
}

.contactEmail {
    margin-bottom: 60px;
}

.contactPhone p {
    font-size: 0.875rem;
    color: #999999;
    font-weight: 600;
}

.contactPhone h1 {
    font-size: 2.25rem;
}
/* ---------- FOOTER ----------- */

footer {
    background-color: #212020;
    color: #999999;
    text-transform: capitalize;
    font-size: 0.875rem;
}

.footerTop {
    padding: 70px 0;
    border-bottom: 1px solid #999999;
}

.footerBar a {
    text-decoration: none;
    color: #999999;
}

.footerDirectory {
    float: left;
    width: 60%;
}

.footerDirectoryLeft {
    width: 50%;
    float: left;
}

.footerDirectoryRight {
    width: 50%;
    float: left;
}

.footerTopRight {
    text-transform: none;
}

.footerTopRight p:first-letter {
    text-transform: capitalize;
}

.footerTopRight {
    float: left;
    width: 40%;
}

.emailDiv {
    border-bottom: 1px solid #999999;
}

.emailButton {
    width: 95%;
    float: left;
}

.emailButtonInput {
    width: 100%;
    border: none;
    background-color: transparent;
    color: #999999;
    font-size: 0.8rem;
}

.emailDiv button {
    width: 5%;
    float: left;
    background: transparent;
    color: #999999;
    border: none;
    font-size: 0.9rem;
}

.footerTopRight p, .emailButton input, .emailDiv button {
    padding-bottom: 10px;
}

.emailButton input, .emailDiv button, .copyright {
    color: #9999;
}

.footerBottom {
    padding: 50px 0 37px 0;
}

.copyright, .socialMediaIcons {
    width: 50%;
    float: left;
}

.socialMediaIcons {
    text-align: right;
}

.socialMediaIcons li{
    display: inline;
    margin-left: 40px;
} 

/* ------------ BLOG -------------0*/


.blogBackground {
    background-image: url("assets/blog-1.jpeg");
    padding: 25vw 0;
    background-size: cover;
    background-position: center;
    position: relative;
}

.blogOuter {
    margin: 50px auto;
    z-index: 1;
    margin-top: -88px;
}


.blogWrapper {
    max-width: 1270px;
    position: relative;
    background-color: #fff;
}

.blogMain {
    background-color: #eeeeee;
}

.blogInner {
    margin: 50px auto;
}

.blogHeader {
    text-align: center;
    width: 60%;
}

.blogHeader h1 {
    font-size: 2.25rem;
    margin: 2% 0;
}

.blogHeader p {
    font-size: 0.875rem;
}

.blogHeader a {
    text-decoration: none;
}

.blogWriter {
    width: 40%;
    float: left;
}

.blogWriter figure {
    display: inline-block;
    width: 20%;
}

.blogWriter figure, .blogUpperContent {
    vertical-align: middle;
}
.blogWriter img {
    border-radius: 50%;
}

.blogUpperDateCategoryTags {
    width: 60%;
    float: left;
}

.blogUpperContent {
    display: inline-block;
}







































/* ---------- CONTACT PAGE -------- */

.contactPageMain {
    margin: 7.9% auto 7% auto;
}

.contactPageTopBackground {
    background-image: url("assets/contact-1.jpeg");
}

.contactPageBottomBackground {
    background-image: url("assets/contact-2.jpeg");
}

.contactPageTopBackground, .contactPageBottomBackground {
    padding: 16vw 0;
    /* background-repeat:no-repeat;
    background-position: center center; */
    background-size: cover;
    background-position: center;
    position: relative;
}

.contactPagePhone, .contactPageAddress, .contactPageEmail {
    display: inline-block;
    width: 33.1%;
    /* padding-left: 6%; */
    padding: 4.5% 0 3.5% 6%;
}

.contactPageDetails h1 {
    font-size: 3rem;
}

.contactPageDetails p {
    font-size: 0.875rem;
    color: #999999;
    width: 50%;
    float: left;
    margin: 2% 0 4% 0;
    line-height: 1.8;
    
}

.contactPageInfo i {
    font-size: 2.5rem;
}

.contactPageInfo h4 {
    font-size: 1.125rem;
    font-family: 'Playfair Display', serif;
    margin: 3% auto;
}

.contactPageInfo p {
    font-size: 0.813rem;
    color: #999999;
}

.contactPageAddress, .contactPageEmail {
    border-left: 1px solid #999999;
}

.contactPageAddress {
    padding-left: 5.5%;
}

.getInTouch h1 {
    font-size: 3rem;
    margin: 1.5% 0;
}

.getInTouch p {
    font-size: 0.875rem;
    color: #999999;
    margin: 1.5% 0;
}

.userInputTopRow {
    width: 100%;
    float: left;
    margin-top: 7.5%;
}

.contactPageName, .contactPageEmailBottom, .contactPageSubject {
    width: 31.62%;
    display: inline-block;
    
}

.contactPageNameInput, .contactPageEmailInput, .contactPageSubjectInput {
    width: 100%
}

.contactPageEmailBottom {
    margin: 0 2.2%;
}

.userInputTopRow input, .contactPageMessageInput, .contactPageButton button {
    font-size: 0.875rem;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #999999;
}

.userInputTopRow input:hover {
    border-bottom: 1px solid #000;
    color: #000;
}

.userInputTopRow input:hover ::placeholder {
    color: #000;
}

.userInputBottomRow {
    width: 100%;
    height: 30%;
}

.contactPageMessageInput {
    width: 100%;
    height: 200px;
}

.contactPageButton button {
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 5%;
}